<!doctype html>

{% load static %}

<html lang="fr">

  <head>

    <!-- Required meta tags -->

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <!-- CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="{% static 'pages/css/style.css' %}" />


    <title>Pur Beurre</title>

  </head>

	<body>
		<div class="container">
		   	<div class="row">
		   				
			   	<nav class="col navbar navbar-expand-lg bg-dark navbar-dark">
			   		<img src="{% static 'pages/img/logo.png' %}" alt="Site logo">
					<a class="navbar-brand mr-auto" href="#">Pur Beurre</a>

			   		<div class="text-right">
			   			<form>
					   		<input type=”text” placeholder=”Chocapic” id=”keyword”>
						</form>
					</div>

			   		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div id='navbarContent' class='collapse navbar-collapse'>
				   		<ul class="navbar-nav ml-auto">
				      		<li class="nav-item active">
				       			<a class="nav-link" href="#">mon compte</a>
					   		</li>

					      	<li class="nav-item">
					       		<a class="nav-link" href="#">mes aliments</a>
					      	</li>

							<li class="nav-item">
				     			<button type="button" data-toggle="modal" data-target="#connexion" class="btn btn-secondary">connexion</button></a>
				      		</li>
				   		</ul>
					</div>

		   		</nav>

			</div>
		</div>


		<div class="container">
		   	<div class="row">
		      	{% block content %}
			    {% endblock %}
			</div>
		</div>


		<div class="container">
		   	<div class="row bg-dark">

				  	<footer class='col page-footer'>
				    	<div class="row">
				    		<div class="col-6">
				   				<p class="text-center">mentions légales</p>
			       			</div>

			        		<div class="col-6">
			          			<p class="text-center">contact</p>
			        		</div>
			        	</div>
			      	</footer>

		   	</div>
		</div>

	<!-- Modal part (connexion menu) -->
	<div class="modal" id="connexion">
	
		<div class="modal-dialog">
			<div class="modal-content">

			   	<div class="container">
			   		<div class="row">
			   			<div class="col inscriptionBanner">
			   				<p class="text-center">Connexion/Inscription</p>
			   			</div>
			   		</div>



					<form id="identifiantInput">
						<div class="row">
					   		<div class="col text-center">
					   			<label for="mailAdress">adresse mail:</label>
						   		<input type=”email” id=”mailAdress” placeholder=”test@test.fr”>
						   	</div>
						</div>

						<div class="row">
				   			<div class="col text-center">
				   				<label for="password">mot de passe:</label>
					   			<input type=”password” id=”password” placeholder=”**********”>
					   		</div>
						</div>
					</form>

					<div class="row">
						<div class="col text-center buttonZone">
							<button id="connexionButton" type="submit" class="btn btn-success">Connexion</button>

							<button id="inscriptionButton" type="button" class="btn btn-primary">Inscription</button>
							
						</div>
					</div>
			   	</div>

			</div>
		</div>

	</div>

    <!-- Optional JavaScript -->

	<script src="{% static 'pages/js/identification.js' %}"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>

</html>