{% extends 'pages/base.html' %}

{% block content %}
{% load static %}

	<section>
		<div class="row resultBanner">
			<div class="col" style=background-image: url({{ product.pictureUrl }})>

				<div class="col text-center">
					<h2>Résultat</h2>
				</div>
			</div>
		</div>
	</section>


	<section>
		<div class="row">
			<div class="col resultBox">
				
				<div class="row">
					{% for subst in substitutes %}
						<div class="col-4">
							
							<div class="card productBox" style=margin-bottom:5%>
								<img class="img-fluid rounded d-block" src={{ subst.pictureUrl }} alt="product_picture">
								
								<div class="card-title text-center productTitle" style=margin-bottom:0%>
									{{ subst.name }}
		   						</div>

		   						{% if user.is_authenticated %}
			   						<div class="row">
										<div class="col">
											<form method="POST" action="{% url 'favorites:addToFavorites' %}">
												{% csrf_token %}

												<input type="hidden" name="productName" value="{{ product.name }}">
												<input type="hidden" name="substituteName" value="{{ subst.name }}">
												
												<button type="submit" class="btn btn-primary" style="width: 100%">
								   						Enregistrer
								   				</button>
												
											</form>
										</div>
			   						</div>
			   					{% endif %}

							</div>

						</div>
					{% endfor %}
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-4"></div>

			<div class="col-4">
				{% if paginate %}
		  			<div class="clearfix"></div>
		  				<nav aria-label="">
		    				<ul class="pager">
		      					{% if substitutes.has_previous %}
		          					<li><a href="?page={{ substitutes.previous_page_number }}">Précédent</a></li>
		      					{% endif %}
		    
		    					{% if substitutes.has_next %}
		          					<li><a href="?page={{ substitutes.next_page_number }}">Suivant</a></li>
		      					{% endif %}
		    				</ul>
		  				</nav>
				{% endif %}
			</div>


			<div class="col-4"></div>
		</div>


	</section>

{% endblock %}