h2
{
	margin-bottom: 2%;
	margin-top: 2%;
}

.navbar input
{
	border: 3px inset grey;
	border-radius:10px;

	background: grey;
}

.introduction
{
	background-image: url(../img/fond.jpg);
    background-position: center; /* Le fond sera placé en haut à droite */
}

.presentation
{
	background-color: #86EBE6;
}


.contactSection
{
	background-color: #DE9440;
}

.contactInformation
{
	margin: auto;
}

.introduction input
{
	margin-bottom: 3%;
}

.modal-dialog
{
	border: 3px inset blue;
	border-radius:10px;
}

.inscriptionBanner
{
	background-color: blue;

	margin-bottom: 2%;
}

.buttonZone
{
	margin-bottom: 2%;
}

.mailZone
{
	width: 20%;
	border: 3px inset grey;
	border-radius:10px;

	background: grey;
}

.resultBox
{
	border: 3px inset blue;
	border-radius:10px;

	background: #86EBE6;

	margin: 1%;
	padding: 2%;

	opacity: 1.5;

}

.productBox
{
	border: 3px inset grey;
	background: #E8A75D;
	background: red;
}

.resultBanner
{
	margin-top: 2%;
}

.productBanner
{
	background: #E8A75D;
}